<div class="barrios_dropdown">
  
  <form>  
    Barrio:
    <select id="mySelect"> 
      <option value="4.5981,-74.0758" selected="selected"></option>

       <option value="4.589258, -74.103227"> Antonio Nariño  </option>

       <option value="4.679257, -74.078608"> Barrios Unidos </option>

       <option value="4.620229, -74.189672"> Bosa </option>

       <option value="4.586349, -74.157429"> Candelaria </option>

       <option value="4.652396, -74.062672"> Chapinero </option>

       <option value="4.543228,-74.137516"> Ciudad Bolívar</option>

       <option value="4.702012,-74.112082"> Engativá </option> engativa 

       <option value="4.682337,-74.140234"> Fontibón </option>

       <option value="4.64692,-74.152937"> Kennedy </option>

       <option value="4.606369,-74.08958"> Mártires</option>

       <option value="4.616978,-74.106588"> Puente Aranda </option>

       <option value="4.657015,-74.069016"> Rafael Uribe</option>

       <option value="4.568554,-74.083586"> San Cristobal</option>

       <option value="4.599867,-74.040842"> Santa Fé</option>

       <option value="4.762573,-74.087391"> Suba</option>

       <option value="4.648289,-74.083242"> Teusaquillo</option>

       <option value="4.589429,-74.13168"> Tunjuelito</option>

       <option value="4.744097,-74.01804"> Usaquén</option>  

    </select>
</form>
  <!-- <a href="/reports" class="btn" data-dismiss="modal">Continuar</a> -->

</div>