<div class="contact">
	<h1>Contáctanos</h1>

	<p>
	<a href="mailto:bogotasegurainfo@gmail.com">Escríbenos por correo electrónico</a>
	</p>

	<p>
		Síguenos en twitter
	</p>

	<p>
		Like en Facebook
	</p>


</div>