<div class="contact">
	<h1>Contáctanos</h1>

	<p>
	<a href="mailto:bogotasegurainfo@gmail.com">Escríbenos por correo electrónico</a>
	</p>

	<p>
		
		<a href="/assets/twitter.png">Síguenos en twitter</a>
	</p>

	<p>
		Like en Facebook
		<a href="/assets/facebook.png">Síguenos en Facebook</a>
	</p>


</div>