<div class="contact">
	<h1>Contáctanos</h1>

	<p>
	Preguntas? Quieres ayudarnos a mejorar?
	<a href="mailto:bogotasegurainfo@gmail.com">Escríbenos por correo electrónico y cuéntanos cómo podemos mejorar</a>
	</p>
	<img src="assets/twitter.png" height="45" width="45">
		
	<img src="assets/facebook.png" height="45" width="45">


</div>