<div class="email_reg_message well">

<b>Estimado/(a)
  <%= @charater.name %>:</b>
</br>
Gracias por contribuir con Bogotá Segura. Tu reporte ha sido grabado y hace parte del mapa y de la base de datos.
</br>
</br>
Te deseamos mucha suerte,
</br>
El Equipo de Bogotá Segura

</br>

</div>
<%= link_to 'Volver', charaters_path %>
