<div class="email_reg_message">

<h1>Crímenes reportados al rededor</h1>

<span class="span4">
<ul>
<% for charater in @charater.nearbys(10) %>
  <ol><%= link_to charater.tipo, charater %> (<%= charater.distance.to_f.round(2) %> km)</ol>
<% end %>
</ul>
</div>

<div class="span8">
  
     <%= gmaps({
             "map_options" => {:id => "map2", 
              "auto_adjust" => false,
              "center_latitude" => @charater.latitude, 
              "center_longitude" => @charater.longitude, 
              "detect_location" => false, 
              "center_on_user" => false,
              "zoom" => 14},
              "markers"     => {"data" => @json1 }
            })
      %>
</div>