<%= form_for(@sesione) do |f| %>
  <% if @sesione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sesione.errors.count, "error") %> prohibited this sesione from being saved:</h2>

      <ul>
      <% @sesione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
