<h1>Listing sesiones</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sesiones.each do |sesione| %>
  <tr>
    <td><%= link_to 'Show', sesione %></td>
    <td><%= link_to 'Edit', edit_sesione_path(sesione) %></td>
    <td><%= link_to 'Destroy', sesione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sesione', new_sesione_path %>
