
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado/(a) <%= @subscriber.email %></h1>
    <p>
      Gracias por registrarte a Bogotá Segura. De ahora en adelante recibirás reportes frecuentes sobre el estado del crimen en tus direcciones de interés.
    </p>
    <p>
      Para entrar a Bogotá Segura haz click aquí: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>