Hola <%= @usuario.name %>!
===============================================
 
Gracias por registrarte a <a href="morning-coast-4417.herokuapp.com">Bogotá Segura!</a> De ahora en adelante recibirás reportes frecuentes sobre el estado del crimen en tus direcciones de interés.
 
Para entrar a Bogotá Segura haz click aquí: <%= @url %>.

Tu email es <%= @usuario.email_address %> y tu barrio de interés es <%= @usuario.neighborhood %>
 
Que tengas un muy buen día!

================================================

El Equipo de Bogotá Segura