<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    
  </head>
  <body>
    
    
    <h1 style="color: #FF3333;font-family: &quot;Helvetica&quot;;">Hola <%= @usuario.name %>!</h1>
    <p style="color: #0099CC;font-family: &quot;Helvetica&quot;;font-size: 20px;">
      Gracias por registrarte a <a href="morning-coast-4417.herokuapp.com">Bogotá Segura!</a> De ahora en adelante recibirás reportes frecuentes sobre el estado del crimen en tus direcciones de interés.
    </p>
    <p style="color: #0099CC;font-family: &quot;Helvetica&quot;;font-size: 20px;">
      Para entrar a Bogotá Segura haz click aquí: <%= @url %>.
    </p>
    <p style="color: #0099CC;font-family: &quot;Helvetica&quot;;font-size: 20px;"> Tu email es <%= @usuario.email_address %> y tu barrio de interés es <%= @usuario.neighborhood %></p>

    <p style="color: #0099CC;font-family: &quot;Helvetica&quot;;font-size: 25px;">Que tengas un muy buen día!</p>

    <h3 style="font-family: 'Julius Sans One', sans-serif;font-size: 35px;">El Equipo de Bogotá Segura</h3>
  </body>
</html>