<h1>¿Cómo Funciona? </h1>

<div class="well intro"> Bogotá Segura tiene por meta mejorar la seguridad de los bogotanos, permitiéndoles reportar, visualizar y recibir informes sobre todo tipo de crímenes y delitos que hayan occurido en Bogotá.</div>


<div class="row">
<div class="span4">
  <h2>Reporta</h2>
    <p>
      Reporta de manera rápida y fácil crímenes de los que hayas sido vícitma o testigo. 

          <!-- Muchas causas son atribuidas a la inseguridad en Bogotá. Entre ellas la pobreza y la falta de oportunidades, así como la operación de organizaciones criminales. Pero la inseguridad urbana persiste también debido al bajo índice de denuncia por parte de los bogotanos. Según la Cámara de Comercio de Bogotá, en el 2012 sólo 21% de los bogotanos reportaon crímenes de los que fueron víctimas o testigos. La mitad de los encuestados que optaron por no denunciar delitos atribuyen su decisión a la falta de confianza en las autoridades.
               -->
    </p>
</div>

<div class="span4">
  <h2>Infórmate</h2>
    <p>
     Ingresa tu correo electrónico para recibir reportes sobre el estado de la seguridad en tu barrio.
    </p>
    <p>
    Navega el mapa interactivo para ver los diferentes crímenes y delitos reportados en la ciudad.
      <%= render 'form' %>
    </p>
</div>

<div class="span4">
  <h2>Mantente a Salvo</h2>
    <p>
      Ésta información te ayudará a estar mejor informado sobre el crimen en la ciudad. Información es poder.
    </p>
    <p>
    Bájate la información en formato:
    </p>
    <p>
    <%= link_to "CSV", charaters_path(format: "csv") %> |
    <%= link_to "Excel", charaters_path(format: "xls") %>
    </p>
</div>
</div>

  