<div class="email_reg_message well">

<b>Estimado/(a)
  <%= @subscriber.email %>:</b>
</br>
Gracias por registrarte a Bogot치 Segura. De ahora en adelante recibir치s reportes mensuales sobre el estado de la seguridad en Bogot치 y en tu barrio.
</br>
</br>
Te deseamos mucha suerte,
</br>
El Equipo de Bogot치 Segura

</br>
  <%= @subscriber.subscriber_neighborhood %>



</div>
<%= link_to 'Volver', charaters_path %>

<%= gmaps4rails(@json) %>