.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 800px;
}

.gmaps4rails_map {
  width: 800px;
  height: 400px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

.navbar .navbar-inner {
    padding-top: 5px;
    background-color: #FF1000; 
    background-image: none;
    border: none;
    height: 40px;
}

.navbar .navbar-inner.nav1 {
    padding-top: 0px;
    background-color: #FFF; 
    background-image: none;
    border: none;
    height: 5px;
    background: image-url("debut_light.png")
}

.navbar .navbar-inner .container.nav1{
    a{
        color: #FF3000;
        padding-left: 40%;
        font-size: 40px;
        font-family: 'Julius Sans One', sans-serif;
        &:hover{
            color: #FFA800;
            text-decoration: none;
            background: none;
        }
    }    
}