<footer>
	<nav>
		    <% if signed_in? %>
		        
		        	<a> Mi cuenta <b class="caret"></b>
		        	</a>
			        <ul>
			        	<li><%= link_to "Profile", current_usuario %></li>
			        	<li><%= link_to "Settings", edit_usuario_path(current_usuario) %></li>
			        	<li><%= link_to "Sign out", signout_path, method: "delete" %> </li>
					</ul>
			<% else %>
				<li><%= link_to "Admin Log In", signin_path %></li>
			<% end %>
	</nav>

</footer>
